<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Classification</title>
</head>
<body>

    <form action="http://localhost:5000/prediction"
          method="post"
          enctype="multipart/form-data">
        <input type="file" name="file" id="file" />
        <input type="submit" />
        <div id="preview"></div>

    </form>

    <script>
        var upload = document.querySelector('#file');
        var upload2 = document.querySelector('#preview');

        var reader = new FileReader();
        reader.onload = (function () {

        	this.image = document.createElement('img');
        	var vm = this;

        	return function (e) {
        		vm.image.src = e.target.result
        	}
        })()

        upload.addEventListener('change',function (e) {
        	var get_file = e.target.files;

        	if(get_file){
        		reader.readAsDataURL(get_file[0]);
       		 }
        	image.style.maxWidth='500px';
        	image.style.maxHeight='500px';
        	preview.appendChild(image);
        })
    </script>
</body>
</html>