<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>얼굴 감정 분석</title>
</head>
<body>

    <form id="form">
        <input type="file" name="file" id="file" accept="image/*" />
        <input type="submit" />
        <div id="preview"></div>

    </form>

    <script>
        var imageFileInput = document.querySelector('#file');
        var resultDiv = document.querySelector('#preview');
        const form = document.getElementById('form');

        var reader = new FileReader();
        reader.onload = (function () {

        	this.image = document.createElement('img');
        	var vm = this;

        	return function (e) {1
        		vm.image.src = e.target.result
        	}
        })()

        imageFileInput.addEventListener('change',function (e) {
            image.innerHTML = ""
        	var get_file = e.target.files;

        	if(get_file){
        		reader.readAsDataURL(get_file[0]);
       		 }
        	image.style.maxWidth='500px';
        	image.style.maxHeight='500px';
        	resultDiv.appendChild(image);
        })

        form.addEventListener('submit', async e => {
            e.preventDefault();
            const imageFile = imageFileInput.files[0];
            const formData = new FormData();
            formData.append('image', imageFile);

            const response = await fetch('http://localhost:5000/prediction', {
                method: 'POST',
                body: formData
            });
            const imageUrl = URL.createObjectURL(await response.blob());
            resultDiv.innerHTML = `<img src="${imageUrl}">`;
        });
    </script>
</body>
</html>